body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-color: #262525;
}

/* Wrappers */
.content-wrapper{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.calc-wrapper{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(179, 174, 174);
    box-shadow: 5px 8px 18px 2px rgba(0,0,0,0.9);
    max-width: 376px;
}

.screen-wrapper{
    border: 3px solid black;
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 5px;
    max-width: 350px;
    flex-wrap: wrap;
    word-break: break-all;
}

.screen-wrapper #screen{
    font-family: Inter, sans-serif;
    font-size: 50px;
    margin: 5px;
}

.btn-wrapper{
    /* border: 1px solid blue; */
    margin: 5px;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4, 80px);
}

.btn-wrapper #clear {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(255, 0, 0, 0.121);
}

.btn-wrapper #delete {
    grid-column: 3 / span 2;
    background-color: rgba(0, 0, 255, 0.12);
}

/* Button Styling */
button {
  align-items: center;
  background: #ffffff;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(24, 23, 23, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active{
    background-color: black;
    color: white;
}

[data-operand], #equals {
    background-color: rgba(255, 106, 0, 0.579);
}

button:disabled, #equals:disabled{
    background: #4e4b4b51;
    cursor: default;
}

/* Footer Styling */
footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.423);
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.423);
}

a:hover{
    color: black;
}